{{user-template user=model}}
<button style="width: 100px; height: 100px; border-radius:10px; background-color:red; font-size: large; color: white;"{{action (route-action "deleteUser" model)}}>Delete {{model.firstName}}</button>
